
<div class="back-ground">

  <!-- header -->
  <header>
    <div class="div-column">
      <div class="header-login">
        <div class="login-2">
          <a href="#">I Am an Applicant</a>
        </div>
        <div class="login-3">
          <a href="#">API And Docs</a>
        </div>
        <div class="login-4">
          <a href="#">About Us</a>
        </div>
        <div class="login-5">
          <a href="#">Careers</a>
        </div>
      </div>

      <!-- navbar -->
      <div class="navbar">
        <div class="menu-nav">
          <div class="navbar-logo">
            <a href="#">CHECKR</a>
          </div>
          <div class="menu-nav-list">
            <div class="list1">
              <div class="dropdown">
                <a class="dropdownword" href="#">PRODUCT</a>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
            </div>

            <div class="list2">
              <div class="dropdown">
                <a class="dropdownword" href="#">INDUSTRIES</a>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
            </div>

            <div class="list3">
              <div class="dropdown">
                <a class="dropdownword" href="#">RESOURCES</a>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="menu-nav2">

          <div class="Login">
            <a href="#">LOG IN</a>
          </div>

          <div class="ButtonGo">
            <button type="button" name="buttonGo">Get Started</button>
          </div>
        </div>
      </div>
    </div>

  </header>
</div>
  <!-- main -->
  <main>

    <!-- banner1 -->
    <article>
      <div class="article">
        <div class="article1">
          <div class="titre-article">
            <p>Hire great people. Faster.</p>
          </div>
          <p>Checkr provides modern and compliant background
            <br>
            checks for global enterprises and startups.</p>
          <button type="button" name="button">Explore now->
          </button>
        </div>
      </div>

      <div class="animation">
        <video id="demo-vid_html5_api" class="vjs-tech" autoplay="" loop="" preload="auto" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" data-setup="{}">
          <source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
          <source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type="video/webm">
          <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" width="606" height="634">
        </video>
      </div>
    </article>
    <section>
      <hr>
    </section>
  </main>
</div>

</body>
