<head>
</head>
<body>

  <!-- header -->
  <header>
    <div class="div-column">
      <div class="header-login">
        <div class="login-2">
          <a href="#">I Am an Applicant</a>
        </div>
        <div class="login-3">
          <a href="#">API & Docs</a>
        </div>
        <div class="login-4">
          <a href="#">About Us</a>
        </div>
        <div class="login-5">
          <a href="#">Careers</a>
        </div>
        </div>

      <!-- navbar -->
      <div class="navbar">
        <div class="navbar-logo">
          CHECKR
        </div>
        <div class="menu-nav">
          <div class="list1">
            <a href="#">PRODUCT</a>
          </div>
          <div class="list2">
            <a href="#">INDUSTRIES</a>
          </div>
          <div class="list3">
            <a href="#">RESOURCES</a>
          </div>
          <div class="Space">
          </div>
          <div class="Login">
            <a href="#">LOG IN</a>
          </div>
          <div class="ButtonGo">
            <button type="button" name="buttonGo">Get Started</button>
          </div>
        </div>
      </div>
    </div>

  </header>

<!-- main -->
<main>
  <div class="articles">
    <div class="art-1">
      <div class="num-1">
        1. ETC...
      </div>
      <div class="img-art">


      </div>

    </div>
    <div class="art-2">

    </div>
    <div class="art-3">

    </div>
    <div class="art-4">

    </div>
    <div class="art-5">

    </div>
  </div>

    <div class="titre">
      <h1></h1>
      <h2></h2>
    </div>
  </main>
</body>
